.authentication {
  background: linear-gradient(135deg, rgb(255, 255, 255), rgb(205, 98, 255));
  min-height: 100vh;
}

.authentication__header {
  display: flex;
  padding: 20px;
}

.authentication__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 23rem;
  margin: 7rem auto;
  padding: 20px;
  text-align: center;
}

.authentication__container .form-wrap {
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.authentication__container .form-wrap .form-group {
  width: 100%;
  border-radius: 15px;
}

.authentication__container .form__footer {
  position: inherit;
}

.authentication__container .form__footer p {
  color: #fff;
}
