.user-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.notes-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-container .user-footer {
  align-self: flex-end;
}
