.create-note {
  position: relative;
  flex: 1;
  max-width: 480px;
  margin: 6rem auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.create-note input,
.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-family: inherit;
  resize: none;
}

.create-note input {
  font-size: 1.1rem;
  font-weight: 600;
}

.create-note textarea {
  font-size: 0.9em;
  font-weight: 500;
}

.create-note button {
  position: absolute;
  right: 18px;
  bottom: 5px;
  background: #fff;
  color: rgba(0, 0, 0, 70%);
  border: none;
  border-radius: 4px;
  height: 30px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.create-note button:hover {
  border-radius: 4px;
  background: rgba(0, 0, 0, 7%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 7%);
}

.add-btn {
  padding: 0 20px;
}

@media (max-width: 768px) {
  .create-note {
    max-width: 480px;
    padding: 15px;
  }

  .create-note input {
    font-size: 1em;
    font-weight: 600;
  }

  .create-note textarea {
    font-size: 0.8em;
    font-weight: 500;
  }
}
